.hero
  background: url(http://abekislevitz.com/wp/wp-content/uploads/2016/03/AbeKislevitz_NZMilkyWay_CD27.jpg) center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
