nav
  display -webkit-flex
  display flex
  -webkit-align-items: center
  align-items: middle
  justify-content: center
  border-bottom: 1px solid black
  width: 100%
  position: fixed
  background-color: white
  display: none
  ul
    display: flex
    margin: 0 0 0 0
    padding: 0
    list-style-type: none
    li
      margin: 0 1rem 0 1rem
      padding: 2rem 0 1rem 0


.cart-icon
  position: fixed
  top: 2rem
  right: 1rem
  display: none


.home
  position: fixed
  top: 2rem
  left: 1rem
  display:none
