.spacer-pink
  background: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/724329main_hubble_feature_full_full.jpg?itok=46uhTUP0) center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  height: 25vh
  width: 100%
  display: block

.spacer-blue
  background: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/272109main_full_jpg_full.jpg?itok=n-rC6uVP) center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  height: 25vh
  width: 100%
  display: block

.spacer-galaxy
  background: url(http://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/hubble_friday_09252015.jpg?itok=qm98SOq2) center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  height: 25vh
  width: 100%
  display: block
